{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment</title>
    <link rel="stylesheet" href="{% static 'gateway/payment.css' %}">
</head>
<body>
    <div class='image_div'>
        <img src="{% static 'gateway/payment_photo.webp' %}" alt="Loading">
    </div>
        <div class = 'box'>
        <div class = 'transaction'>
            <p>ENTER AMOUNT : </p>
            <input type="number" name="full_name" placeholder="e.g. 99999" required>
        
            <p>TRANSACTION TYPE : </p>
            <label for="paypal">
                <input type="radio" id="paypal" name="transaction_type" value="paypal" checked>
                PayPal
            </label>
            <br>
            <label for="credit-card">
                <input type="radio" id="credit-card" name="transaction_type" value="credit_card">
                Credit Card
            </label>
            <div class = 'submit'>
                <a href="{{paypal_url}}">
                    <button type="button">DONATE</button>
                </a>
            </div>
        </div>
    </div> 
</body>
</html>